<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost/dupa</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">password</property>

        <!--<property name="hbm2ddl.auto">create-drop</property>-->

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="show_sql">true</property>

        <mapping class="pl.edu.agh.planner.shared.hibernate.entity.ConcreteDateEntity"/>
        <mapping class="pl.edu.agh.planner.shared.hibernate.entity.ConcreteDateTemplateEntity"/>
        <mapping class="pl.edu.agh.planner.shared.hibernate.entity.TermsSetEntity"/>
        <mapping class="pl.edu.agh.planner.shared.hibernate.entity.ConcreteLessonEntity"/>
        <mapping class="pl.edu.agh.planner.shared.hibernate.entity.AggregateEntity"/>
        <mapping class="pl.edu.agh.planner.shared.hibernate.entity.ScheduleEntity"/>
        <mapping class="pl.edu.agh.planner.shared.hibernate.entity.AvatarEntity"/>
        <mapping class="pl.edu.agh.planner.shared.hibernate.entity.ProgrammeUnitEntity"/>
        <mapping class="pl.edu.agh.planner.shared.hibernate.entity.StudentGroupEntity"/>
        <mapping class="pl.edu.agh.planner.shared.hibernate.entity.TeacherEntity"/>
        <mapping class="pl.edu.agh.planner.shared.hibernate.entity.ClassroomEntity"/>
        <mapping class="pl.edu.agh.planner.shared.hibernate.entity.ClassroomHourEntity"/>

        <mapping class="pl.edu.agh.planner.shared.hibernate.entity.AuthorizationEntity"/>
        <mapping class="pl.edu.agh.planner.shared.hibernate.entity.AuthorizationTypeEntity"/>
        <mapping class="pl.edu.agh.planner.shared.hibernate.entity.UserEntity"/>
        <mapping class="pl.edu.agh.planner.shared.hibernate.entity.DepartmentEntity"/>
        <mapping class="pl.edu.agh.planner.shared.hibernate.entity.LetterDesignationEntity"/>
        <mapping class="pl.edu.agh.planner.shared.hibernate.entity.FacultyEntity"/>
        <mapping class="pl.edu.agh.planner.shared.hibernate.entity.ProgrammeUnitTypeEntity"/>

    </session-factory>
</hibernate-configuration>